name: Deploy to Dev Databricks Workspace

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - .github/**
    branches:
      - main

jobs:
  dev-deploy:
    runs-on: ubuntu-latest
    environment: dev
    env:
      DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
      DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
      REPOSITORY_PATH: ${{ vars.REPOSITORY_PATH }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Setup Databricks CLI
        uses: databricks/setup-cli@main

      - name: Extract Branch Name
        id: extract_branch
        run: echo "BRANCH_NAME=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV

      - name: Update Databricks Repo (Dev workspace)
        run: |
          databricks repos update "${{ env.REPOSITORY_PATH }}" --branch "${BRANCH_NAME}"